.navigation {
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  background: #080808;
  height: 10vh;
}

.navigation a {
  color: white;
}

.app {
  background: #faebd730;
}

button.signOut {
  background-color: #a51717;
  color: white;
  font-size: 12px;
  border: 1px solid black;
  outline: none;
  padding: 3px 10px;
  cursor: pointer;
}

button.signOut:hover {
  background-color: rgba(255, 0, 0, 0.4);
  color: white;
}

/* weather button toggle */
button.weatherTogggle {
  font-size: 20px;
  max-width: 100%;
  padding: 10px;
  outline: none;
  color: #f7f5f5;
  background: #0b138a;
  cursor: pointer;
}

button.weatherTogggle:hover {
  color: #f7f5f5e8;
  background: #0b138ae8;
  opacity: 0.8;
}

/* header buttons */
.newsDivs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #000000bf;
  padding: 0 100px;
}

.menu-icon {
  display: none;
}

.sports-btn, .ent-btn, .tech-btn, .gen-btn {
  padding: 5px 6px;
  font-size: 20px;
  border-radius: 3px;
  margin: 10px 30px;
  outline: none;
  color: #f7f5f5;
  background: #ef1106;
  font-family: monospace;
  border: 1px solid #b7b5b3;
}

.sports-btn:hover {
  background: rgba(66, 61, 61, 0.164);
  color: red;
  cursor: pointer;
}
.sports-btn:focus {
  background: #f7f5f5;
  color: red;
}

.ent-btn:hover {
  background: rgba(66, 61, 61, 0.164);
  color: red;
  cursor: pointer;
}
.ent-btn:focus {
  background: #f7f5f5;
  color: red;
}

.tech-btn:hover {
  background: rgba(66, 61, 61, 0.164);
  color: red;
  cursor: pointer;
}
.tech-btn:focus {
  background: #f7f5f5;
  color: red;
}

.gen-btn:hover {
  background: rgba(66, 61, 61, 0.164);
  color: red;
  cursor: pointer;
}
.gen-btn:focus {
  background: #f7f5f5;
  color: red;
}

/* weather position */
.weather-position {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 10%;
  z-index: 1;
}

/* weather title position */
.weather-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* weather input */
input.city, .country {
  padding: 7px;
  font-size: 10px;
  border-radius: 2px;
  border: 1px solid #fba94347;
  margin: 2px;
  outline: none;
}

/* get weather button */
button.getWeather-btn {
  margin-top: 10px;
  padding: 9px;
  font-size: 15px;
  color: #650404;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.4;
  outline: none;
}
button.getWeather-btn:hover {
  opacity: 0.8;
}

/* weather result */
.weather {
  font-size: 20px;
  color: darkred;
  font-family: monospace;
  font-weight: bold;
}

/* result span */
span {
  color: black;
  font-size: 20px;
}

.title-Form {
  text-align: center;
  background: #fba943f0;
  padding: 8px;
  border-right: 1px solid #66339912;
  border-left: 1px solid #66339912;
  border-bottom: 1px solid #66339912;
}

/* news image */
.newsImage {
  position: relative;
  margin: 0 15px;
}

.newsImage img {
  width: 200px;
  max-height: 150px;
}

.news {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 20px;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #0000001f;
}

a.title {
  text-decoration: none;
  color: #080808;
  font-size: 16px;
}

a:hover {
text-decoration: underline;
color: blue;
}

p.author {
  font-size: 11px;
  margin: 1px;
  font-family: monaco;
}

p.description {
  font-size: 14px;
  color: darkmagenta;
  font-weight: bolder;
  font-family: monaco;
}

/* split weather and news divs */
.splitNews-weather {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #FFFFFF;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  background:#ffffff;
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
}



@media (min-width: 320px) and (max-width: 480px) {
  .app {
    background: #000;
  }

  .newsDivs {
    width: 60%;
    -ms-flex-pack: center;
    justify-content: center;
    background: #00000047;
    -ms-flex-direction: column;
    margin: 0 auto;
    padding: 2px;
    flex-direction: column;
    background: #080808;
  }

  .menu-icon {
    width: 100%;
    text-align: center;
    background: #000;
    display: block;
  }

  .menu-icon img {
    width: 30px;
    height: auto;
    border: 1px solid #080808;
    background: #ffec06;
    outline: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
  }


  .sports-btn, .ent-btn, .tech-btn, .gen-btn {
    background-color: #8a008b; 
    padding: 5px;
    margin: 2px;
  }

  button.weatherTogggle {
    border: none;
    background: #000;
    cursor: pointer;
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    background:#f5f6dccf;
    width: 100%;    
    margin-top: -46px;
  }

  .news {
    margin: 10px 0px;
    display: block;
    width: fit-content;
  }

  .newsImage {
    margin: 0 0;
}
  .newsImage img {
    float: left;
    margin: 10px;
  }

  .splitNews-weather {
    display: flex;
    flex-direction: column;
    background-color: #f5f7dc
  }

  .weather-position {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: -4px;
    left: 0;
    right: 0;
    background: #000;
  }

  .newsContainer2 {
    margin-top: 6%;
    width: 100%;
    border-right: 1px solid #3a373742;
  }

  .newsImage img {
    max-width: 150px;
  }

  button.weatherTogggle {
    position: relative;
    margin: 0 auto;
  }

  button.weatherTogggle:hover {
    background: rgba(66, 61, 61, 0.164);
    color: red;
    cursor: pointer;
  }
}