#root {
  margin: 0 0;
  height: 100%;
}

.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: antiquewhite;
}

.signIn-cont {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  width: 30%;
}

form.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  margin: 5px;
  font-size: 20px;
  background: antiquewhite;
  color: #756e6e;
  outline: none;
  width: 100%;
}

::placeholder {
  color: #0043e9;
  font-size: 12px;
}

input[type="password"] {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  margin: 5px;
  font-size: 20px;
  background: antiquewhite;
  color: #756e6e;
  outline: none;
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px antiquewhite inset;
}

button.signin {
  background: red;
  color: #fff;
  padding: 7px;
  width: max-content;
  padding: 5px 16px;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
}

button.signin:hover {
  background: #fff;
  color: red;
}

h1.welcomePageTitle {
  color: #0043e9;
}

p.error-msg {
  color: red;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signIn-cont {
    width: 90%;
    border: none;
  }
}