.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: antiquewhite;
}

.signIn {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

form.signInForm {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  margin: 5px;
  font-size: 20px;
  background: antiquewhite;
  color: #756e6e;
  outline: none;
}

::placeholder {
  color: #0043e9;
  font-size: 12px;
}

input[type="password"] {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
  margin: 5px;
  font-size: 20px;
  background: antiquewhite;
  color: #756e6e;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

button.signin {
  background: red;
  color: #fff;
  padding: 7px;
  width: max-content;
  padding: 5px 16px;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 15px;
}

button.signin:hover {
  background: #fff;
  color: red;
}

h1.welcomePageTitle {
  color: #0043e9;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signIn {
    border: none;
  }
}